{% extends "layout.jinja2" %}


{% block content %}
 

<div class="content">
  <h1><span class="font-semi-bold">Forgot</span> <span class="smaller">password</span></h1>
  <p class="lead"> confirm with your email : </p>
  <form method="post" action="{{request.route_url('forgot_password')}}">
  <label >Email *</label>
    <input class="form-control" type="email" name="email">
     <input class="btn btn-primary m-1" type="submit" value="Confirm">
  </form>
   

  </div>
  
{% endblock content %}