{% extends "layout.jinja2" %}

{% block content %}
<div class="container p-2 m-2">
    {%if error %}
        
        <div class="alert alert-danger">
            <p>invalid information</p><br>
            <p>{{error}}</p>
        </div>
    {%endif%}
    <div class="">

    <h1><span class="lead-font-weigh">Login</span> </h1>
    </div>

    <div class="row">
     <form class="col p-2 card" method="post" action="{{request.route_url('login')}}" >
        <label >Email *</label>
            <input class="form-control" type="email" name="email">
            <br>
             <label >Password *</label>
            <input class="form-control" type="password" name="password">
            <br>
            <input class="form-control" type="submit" value="login">

        </form>

       

       <div class="col p-2 card">
           <h4>Login with :</h4>
            <div class="p-2 card border-none">
                <a href="{{request.route_url('login_github')}}" class="btn btn-primary m-2 ">Login with Github</a>
                <a href="{{request.route_url('login_discord')}}" class="btn btn-primary m-2 ">Login with Discord</a>
                <button class="btn btn-primary m-2 ">Login with Github</button>
            </div>
           Or <a href="{{request.route_url('register')}}"> Create an accout</a>
            <a href="{{request.route_url('forgot_password')}}">Forgot password !</a>
       </div> 
    </div>
  
  </div>
{% endblock content %}
