{% extends "layout.jinja2" %}

{% block content %}
<div class="">
    <div >
    <h1><span class="lead-font-weigh">Register</span> </h1>
    </div>

    {%if error %}
        
        <div class="alert alert-danger">
            <p>email already taken or invalid information</p><br>
            <p>{{error}}</p>
        </div>
    {%endif%}

    <div class="shadow p-2 card">
        <form method="post" action="{{request.route_url('register')}}">
            <label >Email *</label>
            <input class="form-control" type="email" name="email">
            <br>
             <label >Password *</label>
            <input class="form-control" type="password" name="password">
            <br>
            <input class="form-control" type="submit" value="register">
        </form>
    </div>
  
  </div>
{% endblock content %}
