{% extends "layout.jinja2" %}


{% block content %}
 

<div class="content">
  <h1><span class="font-semi-bold">Reset</span> <span class="smaller">password</span></h1>
  <p class="lead"> Create new password : Oauth included (Github,Discord , ...) </p>
  <p class="lead"> when you set a password for Oauth accounts , you can use it to loging directly from login page </p>

  <form method="post" action="{{request.route_url('reset_password')}}">
  <label > New password *</label>
    <input class="form-control" type="password" name="password">
     <input class="btn btn-primary m-1" type="submit" value="Set password">
  </form>
   

  </div>
  
{% endblock content %}